{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block sous_menu %}


    <ul class="nav navbar-nav">
        <li class="">
            <a href="{{ path("oc_platform_home") }}">
                Accueil
            </a>
        </li>
        <li class="dropdown active">
            <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                Catégories<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path("oc_platform_annonces_appartements") }}">Appartement</a></li>
                <li><a href="{{ path("oc_platform_annonces_chambres") }}">Chambres</a></li>
                <li><a href="{{ path("oc_platform_annonces_colocation") }}">Colocation</a></li>
            </ul>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_contact") }}">
                Contactez-nous
            </a>
        </li>

        <li class="">
            <a href="{{ path("oc_platform_about") }}">
                A propos
            </a>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_blog") }}">
                Blog
            </a>
        </li>

    </ul>

{% endblock %}




{% block ocplatform_body %}

    <div class="sub-banner">
        <div class="overlay">
            <div class="container">
                <div class="breadcrumb-area">
                    <h1>Annonces</h1>
                    <ul class="breadcrumbs">
                        <li><a href="index.html">Accueil</a></li>
                        <li class="active">Annonces</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- property section start -->
    <div class="properties-section-body content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <!-- Option bar Start -->
                    <div class="option-bar">
                        <div class="row">
                            <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                                <h4>
                                <span class="heading-icon">
                                    <i class="fa fa-th-large"></i>
                                </span>
                                    <span class="hidden-xs">Properties Grid</span>
                                </h4>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-10 cod-pad">
                                <div class="sorting-options">
                                    <select class="sorting">
                                        <option>New To Old</option>
                                        <option>Old To New</option>
                                        <option>Properties (High To Low)</option>
                                        <option>Properties (Low To High)</option>
                                    </select>
                                    <a href="{{ path("oc_platform_annonces") }}" class="change-view-btn"><i class="fa fa-th-list"></i></a>
                                    <a href="{{ path("oc_platform_annonces_grid") }}" class="change-view-btn active-view-btn"><i class="fa fa-th-large"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Option bar end -->
                    <div class="clearfix"></div>

                    <!-- Property grid start -->
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                            <!-- Property start -->
                            <div class="property">
                                <!-- Property img -->
                                <a href="properties-details.html" class="property-img">
                                    <div class="property-tag button alt featured">Featured</div>
                                    <div class="property-tag button sale">For Sale</div>
                                    <div class="property-price">$150,000</div>
                                    <img src="http://placehold.it/360x250" alt="properties-3" class="img-responsive">
                                </a>
                                <!-- Property content -->
                                <div class="property-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="properties-details.html">Modern Family Home</a>
                                    </h1>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="properties-details.html">
                                            <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                        </a>
                                    </h3>
                                    <!-- Facilities List -->
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                            <span>4800 sq ft</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-bed"></i>
                                            <span>3 Beds</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-monitor"></i>
                                            <span>TV </span>
                                        </li>
                                        <li>
                                            <i class="flaticon-holidays"></i>
                                            <span> 2 Baths</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-vehicle"></i>
                                            <span>1 Garage</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-building"></i>
                                            <span> 3 Balcony</span>
                                        </li>
                                    </ul>
                                    <!-- Property footer -->
                                    <div class="property-footer">
                                        <span class="left"><i class="fa fa-calendar-o icon"></i> 5 days ago</span>
                                        <span class="right">
                                        <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                        <a href="#"><i class="fa fa-share-alt"></i></a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Property end -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                            <!-- Property start -->
                            <div class="property">
                                <!-- Property img -->
                                <a href="properties-details.html" class="property-img">
                                    <div class="property-tag button alt featured">Featured</div>
                                    <div class="property-tag button sale">For Rent</div>
                                    <div class="property-price">$150,000</div>
                                    <img src="http://placehold.it/360x250" alt="properties-1" class="img-responsive">
                                </a>
                                <!-- Property content -->
                                <div class="property-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="properties-details.html">Beautiful Single Home</a>
                                    </h1>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="properties-details.html">
                                            <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                        </a>
                                    </h3>
                                    <!-- Facilities List -->
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                            <span>4800 sq ft</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-bed"></i>
                                            <span>3 Beds</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-monitor"></i>
                                            <span>TV </span>
                                        </li>
                                        <li>
                                            <i class="flaticon-holidays"></i>
                                            <span> 2 Baths</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-vehicle"></i>
                                            <span>1 Garage</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-building"></i>
                                            <span> 3 Balcony</span>
                                        </li>
                                    </ul>
                                    <!-- Property footer -->
                                    <div class="property-footer">
                                        <span class="left"><i class="fa fa-calendar-o icon"></i> 5 days ago</span>
                                        <span class="right">
                                        <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                        <a href="#"><i class="fa fa-share-alt"></i></a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Property end -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                            <!-- Property start -->
                            <div class="property">
                                <!-- Property img -->
                                <a href="properties-details.html" class="property-img">
                                    <div class="property-tag button alt featured">Featured</div>
                                    <div class="property-tag button sale">For Sale</div>
                                    <div class="property-price">$150,000</div>
                                    <img src="http://placehold.it/360x250" alt="properties-8" class="img-responsive">
                                </a>
                                <!-- Property content -->
                                <div class="property-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="properties-details.html">Park Avenue</a>
                                    </h1>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="properties-details.html">
                                            <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                        </a>
                                    </h3>
                                    <!-- Facilities List -->
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                            <span>4800 sq ft</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-bed"></i>
                                            <span>3 Beds</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-monitor"></i>
                                            <span>TV </span>
                                        </li>
                                        <li>
                                            <i class="flaticon-holidays"></i>
                                            <span> 2 Baths</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-vehicle"></i>
                                            <span>1 Garage</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-building"></i>
                                            <span> 3 Balcony</span>
                                        </li>
                                    </ul>
                                    <!-- Property footer -->
                                    <div class="property-footer">
                                        <span class="left"><i class="fa fa-calendar-o icon"></i> 5 days ago</span>
                                        <span class="right">
                                        <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                        <a href="#"><i class="fa fa-share-alt"></i></a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Property end -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                            <!-- Property start -->
                            <div class="property">
                                <!-- Property img -->
                                <a href="properties-details.html" class="property-img">
                                    <div class="property-tag button alt featured">Featured</div>
                                    <div class="property-tag button sale">For Sale</div>
                                    <div class="property-price">$150,000</div>
                                    <img src="http://placehold.it/360x250" alt="properties-4" class="img-responsive">
                                </a>
                                <!-- Property content -->
                                <div class="property-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="properties-details.html">Sweet Family Home</a>
                                    </h1>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="properties-details.html">
                                            <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                        </a>
                                    </h3>
                                    <!-- Facilities List -->
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                            <span>4800 sq ft</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-bed"></i>
                                            <span>3 Beds</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-monitor"></i>
                                            <span>TV </span>
                                        </li>
                                        <li>
                                            <i class="flaticon-holidays"></i>
                                            <span> 2 Baths</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-vehicle"></i>
                                            <span>1 Garage</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-building"></i>
                                            <span> 3 Balcony</span>
                                        </li>
                                    </ul>
                                    <!-- Property footer -->
                                    <div class="property-footer">
                                        <span class="left"><i class="fa fa-calendar-o icon"></i> 5 days ago</span>
                                        <span class="right">
                                        <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                        <a href="#"><i class="fa fa-share-alt"></i></a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Property end -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                            <!-- Property start -->
                            <div class="property">
                                <!-- Property img -->
                                <a href="properties-details.html" class="property-img">
                                    <div class="property-tag button alt featured">Featured</div>
                                    <div class="property-tag button sale">For Rent</div>
                                    <div class="property-price">$150,000</div>
                                    <img src="http://placehold.it/360x250" alt="properties-7" class="img-responsive">
                                </a>
                                <!-- Property content -->
                                <div class="property-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="properties-details.html">Big Head House</a>
                                    </h1>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="properties-details.html">
                                            <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                        </a>
                                    </h3>
                                    <!-- Facilities List -->
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                            <span>4800 sq ft</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-bed"></i>
                                            <span>3 Beds</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-monitor"></i>
                                            <span>TV </span>
                                        </li>
                                        <li>
                                            <i class="flaticon-holidays"></i>
                                            <span> 2 Baths</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-vehicle"></i>
                                            <span>1 Garage</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-building"></i>
                                            <span> 3 Balcony</span>
                                        </li>
                                    </ul>
                                    <!-- Property footer -->
                                    <div class="property-footer">
                                        <span class="left"><i class="fa fa-calendar-o icon"></i> 5 days ago</span>
                                        <span class="right">
                                        <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                        <a href="#"><i class="fa fa-share-alt"></i></a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Property end -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                            <!-- Property start -->
                            <div class="property">
                                <!-- Property img -->
                                <a href="properties-details.html" class="property-img">
                                    <div class="property-tag button alt featured">Featured</div>
                                    <div class="property-tag button sale">For Sale</div>
                                    <div class="property-price">$150,000</div>
                                    <img src="http://placehold.it/360x250" alt="properties-5" class="img-responsive">
                                </a>
                                <!-- Property content -->
                                <div class="property-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="properties-details.html">Masons Villas</a>
                                    </h1>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="properties-details.html">
                                            <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                        </a>
                                    </h3>
                                    <!-- Facilities List -->
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                            <span>4800 sq ft</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-bed"></i>
                                            <span>3 Beds</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-monitor"></i>
                                            <span>TV </span>
                                        </li>
                                        <li>
                                            <i class="flaticon-holidays"></i>
                                            <span> 2 Baths</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-vehicle"></i>
                                            <span>1 Garage</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-building"></i>
                                            <span> 3 Balcony</span>
                                        </li>
                                    </ul>
                                    <!-- Property footer -->
                                    <div class="property-footer">
                                        <span class="left"><i class="fa fa-calendar-o icon"></i> 5 days ago</span>
                                        <span class="right">
                                        <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                        <a href="#"><i class="fa fa-share-alt"></i></a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Property end -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                            <!-- Property start -->
                            <div class="property">
                                <!-- Property img -->
                                <a href="properties-details.html" class="property-img">
                                    <div class="property-tag button alt featured">Featured</div>
                                    <div class="property-tag button sale">For Sale</div>
                                    <div class="property-price">$150,000</div>
                                    <img src="http://placehold.it/360x250" alt="properties-6" class="img-responsive">
                                </a>
                                <!-- Property content -->
                                <div class="property-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="properties-details.html">Park Avenue</a>
                                    </h1>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="properties-details.html">
                                            <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                        </a>
                                    </h3>
                                    <!-- Facilities List -->
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                            <span>4800 sq ft</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-bed"></i>
                                            <span>3 Beds</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-monitor"></i>
                                            <span>TV </span>
                                        </li>
                                        <li>
                                            <i class="flaticon-holidays"></i>
                                            <span> 2 Baths</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-vehicle"></i>
                                            <span>1 Garage</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-building"></i>
                                            <span> 3 Balcony</span>
                                        </li>
                                    </ul>
                                    <!-- Property footer -->
                                    <div class="property-footer">
                                        <span class="left"><i class="fa fa-calendar-o icon"></i> 5 days ago</span>
                                        <span class="right">
                                        <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                        <a href="#"><i class="fa fa-share-alt"></i></a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Property end -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                            <!-- Property start -->
                            <div class="property">
                                <!-- Property img -->
                                <a href="properties-details.html" class="property-img">
                                    <div class="property-tag button alt featured">Featured</div>
                                    <div class="property-tag button sale">For Sale</div>
                                    <div class="property-price">$150,000</div>
                                    <img src="http://placehold.it/360x250" alt="properties-8" class="img-responsive">
                                </a>
                                <!-- Property content -->
                                <div class="property-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="properties-details.html">Sweet Family Home</a>
                                    </h1>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="properties-details.html">
                                            <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                        </a>
                                    </h3>
                                    <!-- Facilities List -->
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                            <span>4800 sq ft</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-bed"></i>
                                            <span>3 Beds</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-monitor"></i>
                                            <span>TV </span>
                                        </li>
                                        <li>
                                            <i class="flaticon-holidays"></i>
                                            <span> 2 Baths</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-vehicle"></i>
                                            <span>1 Garage</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-building"></i>
                                            <span> 3 Balcony</span>
                                        </li>
                                    </ul>
                                    <!-- Property footer -->
                                    <div class="property-footer">
                                        <span class="left"><i class="fa fa-calendar-o icon"></i> 5 days ago</span>
                                        <span class="right">
                                        <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                        <a href="#"><i class="fa fa-share-alt"></i></a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Property end -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-03s">
                            <!-- Property start -->
                            <div class="property">
                                <!-- Property img -->
                                <a href="properties-details.html" class="property-img">
                                    <div class="property-tag button alt featured">Featured</div>
                                    <div class="property-tag button sale">For Rent</div>
                                    <div class="property-price">$150,000</div>
                                    <img src="http://placehold.it/360x250" alt="properties-4" class="img-responsive">
                                </a>
                                <!-- Property content -->
                                <div class="property-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="properties-details.html">Sweet Family Home</a>
                                    </h1>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="properties-details.html">
                                            <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
                                        </a>
                                    </h3>
                                    <!-- Facilities List -->
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                            <span>4800 sq ft</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-bed"></i>
                                            <span>3 Beds</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-monitor"></i>
                                            <span>TV </span>
                                        </li>
                                        <li>
                                            <i class="flaticon-holidays"></i>
                                            <span> 2 Baths</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-vehicle"></i>
                                            <span>1 Garage</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-building"></i>
                                            <span> 3 Balcony</span>
                                        </li>
                                    </ul>
                                    <!-- Property footer -->
                                    <div class="property-footer">
                                        <span class="left"><i class="fa fa-calendar-o icon"></i> 5 days ago</span>
                                        <span class="right">
                                        <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                        <a href="#"><i class="fa fa-share-alt"></i></a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Property end -->
                        </div>
                    </div>
                    <!-- Property grid end -->

                    <!-- Page navigation Start -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">Previous</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Page navigation End-->
                </div>
            </div>
        </div>
    </div>
    <!-- property end -->

{% endblock %}