{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}



{% block sous_menu %}


    <ul class="nav navbar-nav">
        <li class="">
            <a href="{{ path("oc_platform_home") }}">
                Accueil
            </a>
        </li>
        <li class="dropdown">
            <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                Catégories<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path("oc_platform_annonces_appartements") }}">Appartement</a></li>
                <li><a href="{{ path("oc_platform_annonces_chambres") }}">Chambres</a></li>
                <li><a href="{{ path("oc_platform_annonces_colocation") }}">Colocation</a></li>
            </ul>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_contact") }}">
                Contactez-nous
            </a>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_about") }}">
                A propos
            </a>
        </li>

        <li class="active">
            <a href="{{ path("oc_platform_blog") }}">
                Blog
            </a>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="">
                <a href="{{ path("oc_platform_profile") }}">
                    Mon profile
                </a>
            </li>
        {% else %}
        {% endif %}

    </ul>

{% endblock %}


{% block ocplatform_body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Error404 content start -->
                <div class="error404-content">
                    <h1>OUPS!</h1>
                    <center><img style="position: relative; right: 150px" src={{ asset("assets/old/images/UNDER_CONSTRUCTION-800x450.jpg") }}></center>

                    <form action="{{ path("oc_platform_home") }}" method="post">
                        <button type="submit" class="button-md button-theme">Go Home</button>
                    </form>
                </div>
                <!-- Error404 content end -->
            </div>
        </div>
    </div>
{% endblock %}