{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block sous_menu %}


    <ul class="nav navbar-nav">
        <li class="">
            <a href="{{ path("oc_platform_home") }}">
                Acceuil
            </a>
        </li>
        <li class="dropdown">
            <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                Catégories<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path("oc_platform_annonces_appartements") }}">Appartement</a></li>
                <li><a href="{{ path("oc_platform_annonces_chambres") }}">Chambres</a></li>
                <li><a href="{{ path("oc_platform_annonces_colocation") }}">Colocation</a></li>
            </ul>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_contact") }}">
                Contactez-nous
            </a>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_about") }}">
                A propos
            </a>
        </li>
        <li class="active">
            <a href="{{ path("oc_platform_blog") }}">
                Blog
            </a>
        </li>

    </ul>

{% endblock %}




{% block ocplatform_body %}

    <div class="sub-banner">
        <div class="overlay">
            <div class="container">
                <div class="breadcrumb-area">
                    <h1>Blog</h1>
                    <ul class="breadcrumbs">
                        <li><a href="index.html">Acceuil</a></li>
                        <li class="active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog body start -->
    <div class="blog-body content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-xs-12 col-md-push-4">
                    <!-- Blog box start -->
                    <div class="thumbnail blog-box clearfix">
                        <img src="{{ asset('assets/old/images/blog-01.jpg') }}" alt="blog-01">
                        <!-- detail -->
                        <div class="caption detail">
                            <!-- Main title -->
                            <div class="main-title-2">
                                <h1><a href="blog-single.html">We have added new features  to DreamVilla</a></h1>
                            </div>
                            <!-- Post meta -->
                            <div class="post-meta">
                                <span><a href="#"><i class="fa fa-user"></i>John Antony</a></span>
                                <span><a><i class="fa fa-clock-o"></i>January 27, 2017</a></span>
                                <span><a href="#"><i class="fa fa-bars"></i> The Nest</a></span>
                                <span><a href="#"><i class="fa fa-commenting-o"></i>245 Comment</a></span>
                            </div>
                            <!-- paragraph -->
                            <p>Etiam luctus malesuada quam eu aliquet. Donec eget mollis tortor. Donec pellentesque eros a nisl euismod, ut congue orci ultricies. Fusce aliquet metus non arcu varius ullamcorper a sit amet nunc. Donec in lacus neque. Vivamus ullamcorper sed ligula vitae dapibus. Proin non dolor ornare, laoreet tortor non, congue enim. Mauris vitae feugiat ante.in lacus neque. Vivamus ullamcorper sed ligula vitae dapibus. Proin non dolor ornare, laoreet tortor non, congue enim. Mauris vitae feugiat ante.</p>
                            <div class="clearfix"></div>
                            <!-- Btn -->
                            <a href="blog-single.html" class="btn button-sm button-theme">Read More</a>
                        </div>
                    </div>

                    <div class="thumbnail blog-box clearfix">
                        <img src="{{ asset('assets/old/images/blog-03.jpg') }}" alt="blog-03">
                        <!-- detail -->
                        <div class="caption detail">
                            <!-- Main title -->
                            <div class="main-title-2">
                                <h1><a href="blog-single.html">We have added new features  to DreamVilla</a></h1>
                            </div>
                            <!-- Post meta -->
                            <div class="post-meta">
                                <span><a href="#"><i class="fa fa-user"></i>John Antony</a></span>
                                <span><a><i class="fa fa-clock-o"></i>January 27, 2017</a></span>
                                <span><a href="#"><i class="fa fa-bars"></i> The Nest</a></span>
                                <span><a href="#"><i class="fa fa-commenting-o"></i>245 Comment</a></span>
                            </div>
                            <!-- paragraph -->
                            <p>Etiam luctus malesuada quam eu aliquet. Donec eget mollis tortor. Donec pellentesque eros a nisl euismod, ut congue orci ultricies. Fusce aliquet metus non arcu varius ullamcorper a sit amet nunc. Donec in lacus neque. Vivamus ullamcorper sed ligula vitae dapibus. Proin non dolor ornare, laoreet tortor non, congue enim. Mauris vitae feugiat ante.in lacus neque. Vivamus ullamcorper sed ligula vitae dapibus. Proin non dolor ornare, laoreet tortor non, congue enim. Mauris vitae feugiat ante.</p>
                            <div class="clearfix"></div>
                            <!-- Btn -->
                            <a href="blog-single.html" class="btn button-sm button-theme">Read More</a>
                        </div>
                    </div>

                    <div class="thumbnail blog-box clearfix">
                        <img src="{{ asset('assets/old/images/blog-04.jpg') }}" alt="blog-04">
                        <!-- detail -->
                        <div class="caption detail">
                            <!-- Main title -->
                            <div class="main-title-2">
                                <h1><a href="blog-single.html">We have added new features  to DreamVilla</a></h1>
                            </div>
                            <!-- Post meta -->
                            <div class="post-meta">
                                <span><a href="#"><i class="fa fa-user"></i>John Antony</a></span>
                                <span><a><i class="fa fa-clock-o"></i>January 27, 2017</a></span>
                                <span><a href="#"><i class="fa fa-bars"></i> The Nest</a></span>
                                <span><a href="#"><i class="fa fa-commenting-o"></i>245 Comment</a></span>
                            </div>
                            <!-- paragraph -->
                            <p>Etiam luctus malesuada quam eu aliquet. Donec eget mollis tortor. Donec pellentesque eros a nisl euismod, ut congue orci ultricies. Fusce aliquet metus non arcu varius ullamcorper a sit amet nunc. Donec in lacus neque. Vivamus ullamcorper sed ligula vitae dapibus. Proin non dolor ornare, laoreet tortor non, congue enim. Mauris vitae feugiat ante.in lacus neque. Vivamus ullamcorper sed ligula vitae dapibus. Proin non dolor ornare, laoreet tortor non, congue enim. Mauris vitae feugiat ante.</p>
                            <div class="clearfix"></div>
                            <!-- Btn -->
                            <a href="blog-single.html" class="btn button-sm button-theme">Read More</a>
                        </div>
                    </div>

                    <div class="thumbnail blog-box clearfix">
                        <img src="{{ asset('assets/old/images/blog-02.jpg') }}" alt="blog-02">
                        <!-- detail -->
                        <div class="caption detail">
                            <!-- Main title -->
                            <div class="main-title-2">
                                <h1><a href="blog-single.html">We have added new features  to DreamVilla</a></h1>
                            </div>
                            <!-- Post meta -->
                            <div class="post-meta">
                                <span><a href="#"><i class="fa fa-user"></i>John Antony</a></span>
                                <span><a><i class="fa fa-clock-o"></i>January 27, 2017</a></span>
                                <span><a href="#"><i class="fa fa-bars"></i> The Nest</a></span>
                                <span><a href="#"><i class="fa fa-commenting-o"></i>245 Comment</a></span>
                            </div>
                            <!-- paragraph -->
                            <p>Etiam luctus malesuada quam eu aliquet. Donec eget mollis tortor. Donec pellentesque eros a nisl euismod, ut congue orci ultricies. Fusce aliquet metus non arcu varius ullamcorper a sit amet nunc. Donec in lacus neque. Vivamus ullamcorper sed ligula vitae dapibus. Proin non dolor ornare, laoreet tortor non, congue enim. Mauris vitae feugiat ante.in lacus neque. Vivamus ullamcorper sed ligula vitae dapibus. Proin non dolor ornare, laoreet tortor non, congue enim. Mauris vitae feugiat ante.</p>
                            <div class="clearfix"></div>
                            <!-- Btn -->
                            <a href="blog-single.html" class="btn button-sm button-theme">Read More</a>
                        </div>
                    </div>
                    <!-- Blog box end -->

                    <!-- Page navigation start -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">Previous</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Page navigation end -->
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-md-pull-8">
                    <div class="sidebar">
                        <!-- Search box -->
                        <div class="sidebar-widget search-box">
                            <form class="form-inline form-search" method="GET">
                                <div class="form-group">
                                    <label class="sr-only" for="textsearch2">Search</label>
                                    <input type="text" class="form-control" id="textsearch2" placeholder="Search">
                                </div>
                                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- Category posts -->
                        <div class="sidebar-widget category-posts">
                            <div class="main-title-2">
                                <h1><span>popular</span> Category</h1>
                            </div>
                            <ul class="list-unstyled list-cat">
                                <li><a href="#">Single Family </a> <span>(45)  </span></li>
                                <li><a href="#">Apartment  </a> <span>(21)  </span></li>
                                <li><a href="#">Condo </a> <span>(23)  </span></li>
                                <li><a href="#">Multi Family </a> <span>(19)  </span></li>
                                <li><a href="#">Villa </a> <span>(19)  </span></li>
                                <li><a href="#">Other  </a> <span>(22)  </span></li>
                            </ul>
                        </div>
                        <!-- Popular posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="main-title-2">
                                <h1><span>popular</span> posts</h1>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="http://placehold.it/90x63" alt="small-properties-1">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">
                                        <a href="#">Modern Design Building</a>
                                    </h3>
                                    <p>21 October, 2016</p>
                                    <div class="comments-icon">
                                        <i class="fa fa-comments"></i>45 comments
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="http://placehold.it/90x63" alt="small-properties-2">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">
                                        <a href="#">Real Eatate Expo 2016</a>
                                    </h3>
                                    <p>10 October, 2016</p>
                                    <div class="comments-icon">
                                        <i class="fa fa-comments"></i>32 comments
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="http://placehold.it/90x63" alt="small-properties-3">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">
                                        <a href="#">Construction and Development</a>
                                    </h3>
                                    <p>10 October, 2016</p>
                                    <div class="comments-icon">
                                        <i class="fa fa-comments"></i>58 comments
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Popular posts -->
                        <div class="sidebar-widget archives">
                            <div class="main-title-2">
                                <h1><span>Archives</span></h1>
                            </div>
                            <ul class="list-unstyled">
                                <li><a href="#">July 2016</a>)</li>
                                <li><a href="#">August 2016</a></li>
                                <li><a href="#">September 2016</a></li>
                                <li><a href="#">October 2016</a></li>
                                <li><a href="#">November 2016</a></li>
                            </ul>
                        </div>
                        <!-- Tags box -->
                        <div class="sidebar-widget tags-box">
                            <div class="main-title-2">
                                <h1><span>popular</span> Tags</h1>
                            </div>
                            <ul class="tags">
                                <li><a href="#">Image</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Typography</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Slideshow</a></li>
                                <li><a href="#">Post Formats</a></li>
                                <li><a href="#">Sellers</a></li>
                                <li><a href="#">WooCommerce</a></li>
                                <li><a href="#">Shortcodes</a></li>
                            </ul>
                        </div>
                        <!-- Social media -->
                        <div class="social-media sidebar-widget clearfix">
                            <!-- Main Title 2 -->
                            <div class="main-title-2">
                                <h1><span>Social</span> Media</h1>
                            </div>
                            <!-- Social list -->
                            <ul class="social-list">
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                        <!-- Latest reviews -->
                        <div class="sidebar-widget latest-reviews">
                            <div class="main-title-2">
                                <h1><span>Latest</span> Reviews</h1>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="avatar-1">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">Property title</a></h3>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.
                                        Etiamrisus tortor, accumsan at nisi et,
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="avatar-2">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">Property title</a></h3>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.
                                        Etiamrisus tortor, accumsan at nisi et,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Latest tweet -->
                        <div class="sidebar-widget latest-tweet">
                            <div class="main-title-2">
                                <h1><span>Latest</span> Tweet</h1>
                            </div>
                            <p><a href="#">@Lorem ipsum dolor</a> sit amet, consectetur adipiscing elit. Aenean id dignissim justo. Maecenas urna lacus, bibendum </p>
                            <p>@Lorem ipsum dolor<a href="#">sit amet, consectetur</a> adipiscing elit. Aenean id dignissim justo. Maecenas urna lacus, bibendum quis orci </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog body end -->

{% endblock %}