{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}


{% block sous_menu %}


    <ul class="nav navbar-nav">
        <li class="active">
            <a href="{{ path("oc_platform_home") }}">
                Accueil
            </a>
        </li>
        <li class="dropdown">
            <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                Catégories<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path("oc_platform_annonces_appartements") }}">Appartement</a></li>
                <li><a href="{{ path("oc_platform_annonces_chambres") }}">Chambres</a></li>
                <li><a href="{{ path("oc_platform_annonces_colocation") }}">Colocation</a></li>
            </ul>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_contact") }}">
                Contactez-nous
            </a>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_about") }}">
                A propos
            </a>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_blog") }}">
                Blog
            </a>
        </li>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="">
            <a href="{{ path("oc_platform_profile") }}">
                Mon profile
            </a>
        </li>
    {% else %}
    {% endif %}


    </ul>

{% endblock %}


{% block ocplatform_body %}

    <!-- Banner start -->
    <div class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ asset('assets/old/images/residence-etudiante-suitetudes-le-major-marseille-studio-piece-a-vivre.jpg') }}" alt="banner-slider-1">
                    <div class="carousel-caption banner-slider-inner banner-top-align text-left">
                        <h1 class="hidden-lg hidden-md">Find the<br> perfect home</h1>
                        <a href="#" class="btn button-md button-theme hidden-lg hidden-md">Learn More</a>
                        <div class="banner-search-box hidden-xs hidden-sm">
                            <!-- Search area start -->
                            <div class="search-area">
                                <div class="search-area-inner">
                                    <div class="search-contents ">
                                        <form method="GET">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="form-group">
                                                    <select class="selectpicker search-fields" name="area-from" data-live-search="true" data-live-search-placeholder="Search value">
                                                        <option>Zone</option>
                                                        <option>Gueliz</option>
                                                        <option>Awatif</option>
                                                        <option>Massira</option>
                                                        <option>Sidi Abbad</option>
                                                        <option>Sinko</option>
                                                        <option>Saada</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="form-group">
                                                    <select class="selectpicker search-fields" name="property-status" data-live-search="true" data-live-search-placeholder="Search value">
                                                        <option>Status</option>
                                                        <option>Vendre</option>
                                                        <option>Louer</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="form-group">
                                                    <select class="selectpicker search-fields" name="location" data-live-search="true" data-live-search-placeholder="Search value">
                                                        <option>A proximité de</option>
                                                        <option>Faculté de Science Semlalia</option>
                                                        <option>Ecole Nationnale de Science Appliqué</option>
                                                        <option>Faculté de Science et Technique</option>
                                                        <option>Faculté d'économie et droit</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="form-group">
                                                    <select class="selectpicker search-fields" name="property-types" data-live-search="true" data-live-search-placeholder="Search value">
                                                        <option>Catégories</option>
                                                        <option>Appartement</option>
                                                        <option>Chambre</option>
                                                        <option>Colocation</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="form-group">
                                                    <select class="selectpicker search-fields" name="bedrooms" data-live-search="true" data-live-search-placeholder="Search value" >
                                                        <option>Chambres</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="form-group">
                                                    <select class="selectpicker search-fields" name="bathrooms" data-live-search="true" data-live-search-placeholder="Search value" >
                                                        <option>Quel Etage</option>
                                                        <option>RDC</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="form-group">
                                                    <div class="range-slider">
                                                        <div data-min="0" data-max="10000" data-unit="DHS" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                                <div class="form-group">
                                                    <a href="{{ path("oc_platform_annonces_appartements") }}"><button class="search-button">Rechercher</button></a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Search area start -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- Banner end -->

    <!-- Featured properties start -->
    <div class="content-area featured-properties">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1><span>Propriétés</span> Récentes</h1>
            </div>
            <ul class="list-inline-listing filters filters-listing-navigation">
                <li class="active btn filtr-button filtr" data-filter="all">Tout</li>
                <li data-filter="1" class="btn btn-inline filtr-button filtr">Appartement</li>
                <li data-filter="2" class="btn btn-inline filtr-button filtr">Chambre</li>
                <li data-filter="3" class="btn btn-inline filtr-button filtr">Colocation</li>
            </ul>
            <div class="row">
                <div class="filtr-container">


    {% for advert in listAdverts %}
        {% if advert.type == "Appartement" %}
            {%  set data = "1" %}
        {% elseif advert.type == "Chambre" %}
            {% set data = "2" %}
        {% else %}
            {% set data = "3" %}
        {% endif %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-pad  filtr-item" data-category="{{ data }}">
                        <div class="property">
                            <!-- Property img -->
                            <a href="{{ path('oc_platform_view', {'id': advert.id}) }}" class="property-img">
                                <div class="property-tag button alt featured">{{ advert.type }}</div>
                                <div class="property-tag button sale">à louer</div>
                                <div class="property-price"> {{ advert.prix }}DH</div>
                                <img src="{{ asset(advert.imagePrincipale) }}" alt="properties-1" class="img-responsive">
                            </a>
                            <!-- Property content -->
                            <div class="property-content">
                                <!-- title -->
                                <h1 class="title">
                                    <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">{{ advert.titre }}</a>
                                </h1>
                                <!-- Property address -->
                                <h3 class="property-address">
                                    <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                                        {{ advert.addresse }}
                                        <i class="fa fa-map-marker"></i>
                                    </a>
                                </h3>
                                <!-- Facilities List -->
                                <ul class="facilities-list clearfix">
                                {% if advert.meuble %}
                                    <li>
                                        <i class="flaticon-bed"></i>
                                        <span>Meublé</span>
                                    </li>
                                {% else %}
                                {% endif %}
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span> {{ advert.nbrToilettes }} Toilettes</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-bed"></i>
                                        <span>{{ advert.nbrChambres }} Chambres</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-apartment"></i>
                                        <span>Au {{ advert.quelEtage }} Etage</span>
                                    </li>
                                     {% if advert.ascenceur %}
                                    <li>
                                        <i class="flaticon-shape"></i>
                                        <span>ascenceur</span>
                                    </li>
                                     {% else %}
                                     {% endif %}
                                </ul>
                                <!-- Property footer -->
                                <div class="property-footer">
                                    <span class="left"><i class="fa fa-calendar-o icon"></i> {{advert.date|date('d/m/Y')}}</span>
                                    <span class="right">
                                    <a href="#"><i class="fa fa-heart-o icon"></i></a>
                                    <a href="#"><i class="fa fa-share-alt"></i></a>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>

{% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Featured properties end -->

    <!-- What are you looking for? start -->
    <div class="mrg-btm-100 our-service">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1><span>Que cherchez-vous?</span></h1>
            </div>

            <div class="row mgn-btm wow">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInLeft delay-04s">
                    <div class="content">
                        <i class="flaticon-apartment"></i>
                        <h4>Appartments</h4>
                        <p style="font-size: 15px">Vous êtes un groupe d'étudiant nouveaux ou ancien au MAROC, et vous cherchez un appartement pour loger ensemble durant votre année scolaire. Venez visiter notre rubrique Appartement!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 wow fadeInLeft delay-04s">
                    <div class="content">
                        <i class="flaticon-bed"></i>
                        <h4>Chambre</h4>
                        <p style="font-size: 15px">Vous êtes un d'étudiant nouveaux ou ancien au MAROC, et vous cherchez une chambre pour habiter durant votre année scolaire. Venez visiter notre rubrique Chambre étudiant!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight delay-04s">
                    <div class="content">
                        <i class="flaticon-social"></i>
                        <h4>Colocation</h4>
                        <p style="font-size: 15px">Vous êtes un d'étudiant nouveaux ou ancien au MAROC, et vous cherchez une colocation pour habiter avec un autre étudiant durant votre année scolaire. Venez visiter notre rubrique Colocation!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- What are you looking for? end -->

    <!-- Testimonial secion start -->
    <div class="testimonial-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                    <div class="sec-title-three">
                        <h4>Clients Contents</h4>
                        <h2>Leurs Témoignages</h2>
                        <div class="text">
                            Nous recueillons des avis de nos clients afin que vous puissiez avoir une opinion honnête sur ce que ressemble vraiment un appartement!
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                    <div class="testimonials">
                        <div id="carouse3-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item content clearfix">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                        <div class="avatar">
                                            <img src="{{ asset('assets/old/images/avata1.jpg') }}" alt="avatar-1" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="text">
                                            <sup>
                                                <i class="fa fa-quote-left"></i>
                                            </sup>
                                            J'étais assez surpris de l'éfficacité de ce site, il m'as permis de trouver un bon appartement en très peu de temps. J'ai pu faire des recherches bien précises sur la zone qui m'interessais.
                                            <br><br>
                                            <sub>
                                                <i class="fa fa-quote-right"></i>
                                            </sub>
                                        </div>
                                        <div class="author-name">
                                            Hamza Mohamed
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-half-full"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="item content active clearfix">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                        <div class="avatar">
                                            <img src="{{ asset('assets/old/images/ava.jpg') }}" alt="avatar-2" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="text">
                                            <sup>
                                                <i class="fa fa-quote-left"></i>
                                            </sup>
                                            La première fois que je suis tomber sur ce site j'étais charmer par le nombre d'oportunités qu'il offre, je cherchais une chambre et j'ai choici ma chambre grace au recommendations des autres utilisateurs.
                                            <br>
                                            <sub>
                                                <i class="fa fa-quote-right"></i>
                                            </sub>
                                        </div>
                                        <div class="author-name">
                                            Abdellah Elouassif
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-half-full"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="item content clearfix">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                        <div class="avatar">
                                            <img src="{{ asset('assets/old/images/avatar3.jpg') }}" alt="avatar-3" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                        <div class="text">
                                            <sup>
                                                <i class="fa fa-quote-left"></i>
                                            </sup>
                                            Bravo à Logement-Etudiant ! J'ai testé les locations via Logement-Etudiant et ai particulièrement apprécié leur sérieux et le suivi des réservations. Aucune mauvaise surprise,
                                            excellente communication, paiement très fiable. Je le recommande sans aucune hésitation !
                                            <sub>
                                                <i class="fa fa-quote-right"></i>
                                            </sub>
                                        </div>
                                        <div class="author-name">
                                            Nassima Housni
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-half-full"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="item content clearfix">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                        <div class="avatar">
                                            <img src="{{ asset('assets/old/images/avatar5.jpg') }}" alt="avatar-4" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 ">
                                        <div class="text">
                                            <sup>
                                                <i class="fa fa-quote-left"></i>
                                            </sup>
                                            Essayez à votre tour! J'ai découvert ce site d'une simple requête sur Google et depuis on est inséparable. Grâce à Logement-Etudiant,
                                            j'ai pu faire des rencontres super enrichissantes aussi des economies.<br>
                                            <sup>
                                                <i class="fa fa-quote-right"></i>
                                            </sup>

                                        </div>
                                        <div class="author-name">
                                            William Golo
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-half-full"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carouse3-example-generic" role="button" data-slide="prev">
                            <span class="slider-mover-left" aria-hidden="true">
                                <i class="fa fa-angle-left"></i>
                            </span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carouse3-example-generic" role="button" data-slide="next">
                            <span class="slider-mover-right" aria-hidden="true">
                                <i class="fa fa-angle-right"></i>
                            </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial section end -->
    <div class="clearfix"></div>
<br><br><br><br><br><br>

    <!-- Categories strat -->
    <div class="categories">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1><span>Places</span> Populaires</h1>
            </div>
            <div class="clearfix"></div>
            <div class="row wow">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-pad wow fadeInLeft delay-04s">
                            <div class="category">
                                <div class="category_bg_box cat-1-bg">
                                    <div class="category-overlay">
                                    <span class="category-content">
                                        <span class="category-title">Casablanca</span>
                                        <br>
                                        <span class="category-subtitle">14 Properties</span>
                                        <br>
                                        <a href="#" class="btn button-sm button-theme">View All</a>
                                    </span><!-- /.category-content -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-pad wow fadeInLeft delay-04s">
                            <div class="category">
                                <div class="category_bg_box cat-2-bg">
                                    <div class="category-overlay">
                                    <span class="category-content">
                                        <span class="category-title">Agadir</span>
                                        <br>
                                        <span class="category-subtitle">14 Properties</span>
                                        <br>
                                         <a href="#" class="btn button-sm button-theme ">View All</a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-pad wow fadeInUp delay-04s">
                            <div class="category">
                                <div class="category_bg_box cat-3-bg">
                                    <div class="category-overlay">
                                    <span class="category-content">
                                        <span class="category-title">Marrakech</span>
                                        <br>
                                        <span class="category-subtitle">27 Properties</span>
                                        <br>
                                        <a href="{{ path("oc_platform_annonces_marrakech") }}" class="btn button-sm button-theme ">View All</a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-pad wow fadeInRight delay-04s">
                    <div class="category">
                        <div class="category_bg_box category_long_bg cat-4-bg">
                            <div class="category-overlay">
                            <span class="category-content">
                                <span class="category-title">Rabat</span>
                                <br>
                                <span class="category-subtitle">14 Properties</span>
                                <br>
                                 <a href="#" class="btn button-sm button-theme ">View All</a>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories end-->


{% endblock %}