
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}


{% block sous_menu %}


    <ul class="nav navbar-nav">
        <li class="">
            <a href="{{ path("oc_platform_home") }}">
                Acceuil
            </a>
        </li>
        <li class="dropdown">
            <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                Catégories<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path("oc_platform_annonces_appartements") }}">Appartement</a></li>
                <li><a href="{{ path("oc_platform_annonces_chambres") }}">Chambres</a></li>
                <li><a href="{{ path("oc_platform_annonces_colocation") }}">Colocation</a></li>
            </ul>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_contact") }}">
                Contactez-nous
            </a>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_about") }}">
                A propos
            </a>
        </li>
        <li class="">
            <a href="{{ path("oc_platform_blog") }}">
                Blog
            </a>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="active">
                <a href="{{ path("oc_platform_profile") }}">
                    Mon profile
                </a>
            </li>
        {% else %}
        {% endif %}


    </ul>

{% endblock %}

{% block ocplatform_body %}

    <!-- My profile start -->
    <div class="content-area my-profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <!-- User account box start -->
                    <div class="user-account-box">
                        <div class="header clearfix">
                            <h3>{{ user.username }}</h3>
                            <p>{{ user.email }}</p>
                            <div class="edit-profile-photo">
                                <img src="http://placehold.it/180x180" alt="agent-1" class="img-responsive">
                                <div class="change-photo-btn">
                                    <div class="photoUpload">
                                        <span><i class="fa fa-upload"></i> Upload Photo</span>
                                        <input type="file" class="upload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <ul>
                                <li>
                                    <a href="user-profile.html" class="active">
                                        <i class="flaticon-social"></i>Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("oc_platform_myproperties") }}">
                                        <i class="flaticon-apartment"></i>My Properties
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('oc_platform_add')}}">
                                        <i class="fa fa-plus"></i>Déposer une nouvelle annonce
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_change_password') }}">
                                        <i class="flaticon-security"></i>Changer le mot de passe
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="flaticon-sign-out-option"></i>Se déconnecter
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- User account box end -->
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <!-- My address start-->
                    <div class="my-address">
                        <div class="main-title-2">
                            <h1><span>Modifier</span> Profil</h1>
                        </div>

                        <form action="index.html" method="GET">
                            <div class="form-group">
                                <label>Your Name</label>
                                <input type="text" class="input-text" name="your name" placeholder="{{ user.username }}">
                            </div>
                            <div class="form-group">
                                <label>Votre titre</label>
                                <input type="text" class="input-text" name="agent" placeholder="Slogon de ouff">
                            </div>
                            <div class="form-group">
                                <label>Téléphone</label>
                                <input type="text" class="input-text" name="phone" placeholder="+55 417-634-7071">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="input-text" name="email" placeholder="{{ user.email }}">
                            </div>
                            <div class="form-group">
                                <label>A propos de moi</label>
                                <textarea class="input-text" name="message" placeholder="Parler un peu de vous"></textarea>
                            </div>
                            <a href="#" class="btn button-md button-theme">Save Changes</a>
                        </form>
                    </div>
                    <!-- My address end -->
                </div>
            </div>
        </div>
    </div>
    <!-- My profile end -->
{% endblock %}